* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(4, 145, 200);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  padding: 8px;
  text-align: center;
  margin-bottom: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

img {
  margin-bottom: 4px;
}


.label {
  font-size: 14px;
  padding: 8px 0;
}

input[type=text] {
  width: 100%;
  margin: 4px 0;
  padding: 8px;
  border: 2px solid rgb(81, 81, 85);
  border-radius: 4px;
  color: rgb(83, 83, 83);
  font-size: 12px;
}

button {
  padding: 12px;
  margin: 12px 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(19, 166, 224);
  color: white;
  font-weight: 600;
  transition: opacity, color 0.3s;
}

button:hover {
  opacity: 0.8;
  color: rgb(0, 0, 0);
}